.retailer {
    background-color: orange;
    color: black;
    float: left;
    padding: 0.25rem;
    width: auto;
    display: inline-block;
}

.retailer-username {

    font-weight:bold;

}